
/* * {
 border: 2px solid black;
} */

.mainImg {
  background-image: url("./img/background.jpg" );
  background-repeat: no-repeat;
}
.background {
    background-color: #2d3e50
}
.title {
    background-color: black;
    opacity: 50%;
}

body{
    font-family: 'Merienda', cursive;
}

#contributors {
    display: flex;
    color: #fefefe;

    }

footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
.hero-section .hero-section-text {
        /* margin-top: 22.5em; */
        margin-top: 40vh;
        color: #fefefe;
        text-shadow: 1px 1px 2px #0a0a0a;
    }

