* {
 border: 2px solid black;
}

.blue div {
    background-color: blue;
    color: white;
    font-weight: 200;
}
.hide {
    display: none;
}

.mainImg {
  background-image: url("./img/background.jpg" );
  background-repeat: no-repeat;
}

.black {
    background-color: black;
    opacity: 50%;
}

